{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<div class="sideCalendar">
    <div id="calendar"></div>
    <p class="calendarNote"><span>定休日</span></p>
</div>

<div class="sideLinks">
    <ul>
        <li><a href="#">はじめての方へ</a></li>
        <li><a href="#">配送について</a></li>
        <li><a href="#">お支払について</a></li>
    </ul>
</div>

<div class="sideLogin">
    <p><a href="#">メールマガジン登録</a></p>
    <p>エルモアいちばん宅急便の最新情報 &amp; お得な情報を毎週お届けします！</p>
</div>

<ul class="sideBanner clearfix">
    <li><a href="#"><img src="{{ app.config.front_urlpath }}/ellemoi/img/common/bnr_side01.png" alt=""></a></li>
    <li><a href="#"><img src="{{ app.config.front_urlpath }}/ellemoi/img/common/bnr_side02.png" alt=""></a></li>
</ul>
