{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<div id="headerCustomer">
    <p>ようこそ ゲスト様</p>
    <select name="mypagemenu">
        <option>マイページメニュー</option>
        <option>マイページメニュー</option>
        <option>マイページメニュー</option>
    </select>
</div>

<div id="headerLinks">
    <p class="headerSubNavi"><a href="#">配送について</a><a href="#">お支払について</a><a href="#">メールマガジン登録</a></p>
    <nav id="gNavi">
        <ul class="clearfix">
            <li id="gNav01"><a href="#"><span>HOME</span></a></li>
            <li id="gNav02"><a href="#"><span>お知らせ</span></a></li>
            <li id="gNav03"><a href="#"><span>商品一覧</span></a></li>
            <li id="gNav04"><a href="#"><span>ご利用ガイド</span></a></li>
            <li id="gNav05"><a href="#"><span>マイページ</span></a></li>
            <li id="gNav06"><a href="#"><span>お問い合わせ</span></a></li>
        </ul>
    </nav>
</div>