<div class="searchSmart">
    <div class="searchSmartBox">
        <form method="get" id="searchform" action="{{ path('product_list') }}">
            <input type="text" class="inputSearch" placeholder="商品検索">
            <input type="hidden" name="s" value="">
            <input type="submit" class="inputSubmit" value="search">
        </form>
    </div>
</div>