<div class="searchSmart">
    <div class="searchSmartBox">
        <form method="get" id="searchform" action="{{ path('product_list') }}">
            {{ form_widget(form.name, {'attr': { 'placeholder' : "商品検索", 'class':'inputSearch' }} ) }}
            <input type="hidden" name="s" value="">
            <input type="submit" class="inputSubmit" value="search">
        </form>
    </div>
</div>