@charset "UTF-8";
/*
 * cmn_layout.css
 *
 *  version --- 1.0
 *  updated --- 2017/9/3
 */


/* !HTML5 elements
---------------------------------------------------------- */
header, footer, nav, section, aside, article
{ display: block;}

/* !Reseting
---------------------------------------------------------- */
body {
 font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic",  Osaka, sans-serif;
 font-size: 1.4rem;
 -webkit-text-size-adjust: none;
 line-height: 1.5;
  background: #fff;
 color: #333;
}

body, div, pre, p, blockquote, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, th, td,a,button
{ margin: 0; padding: 0; outline: 0;}
input, textarea
{ margin: 0; font-size: 100%;}
label
{ cursor: pointer;}
table
{ border-collapse: collapse; border-spacing: 0; font-size: 100%;}
fieldset, img
{ border: 0;}
img
{ vertical-align: top; max-width: 100%;}
address, caption, cite, code, dfn, em, th, var
{ font-style: normal; font-weight: normal;}
ol, ul
{ list-style: none;}
caption, th
{ text-align: left;}
h1, h2, h3, h4, h5, h6
{ font-size: 100%; font-weight: normal;}
q:after, q:before
{ content:'';}
a,button, input
{ outline: none; }
abbr, acronym
{ border: 0;}

button,input{ 
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-user-modify: read-write-plaintext-only;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* !Clearfix
---------------------------------------------------------- */
.clearfix {
	display: block;
	min-height: 1%;
}
.clearfix:after {
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
* html .clearfix {
	height: 1%;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}
/* !Layout
---------------------------------------------------------- */
html { 
	overflow-y: scroll;
	min-height: 100%;
	position: relative;
}
body {
	height: 100%;
}
@media print {
	html,
	html body { *zoom: 0.65;}
}

/* !wrapper
---------------------------------------------------------- */
body > #wrapper {
	height: 100%;
}
#wrapper {
	min-width: 1240px;
}

/*** タブレット 768x ~ 959px***/
@media screen and (max-width: 959px) {
	#wrapper {
		min-width: 320px;
	}
}

/* !header
---------------------------------------------------------- */
#header {
	width: 100%;
	height: 146px;
	position: relative;
  transform:none;
	will-change: auto;
}

#headerIn {
	border-top: 5px solid #026ed3;
	border-bottom: 1px solid #929292;
	background: url(../img/common/bg_header.jpg) 0 0 repeat-x #fff;
	height: 146px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
	-webkit-box-shadow: 0 4px 4px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 4px 4px rgba(0,0,0,0.4);
	-ms-box-shadow: 0 4px 4px rgba(0,0,0,0.4);
	-o-box-shadow: 0 4px 4px rgba(0,0,0,0.4);
	box-shadow: 0 4px 4px rgba(0,0,0,0.4);
}


#headerIn .inner {
	position: relative;
	height: 146px;
}

#headerLogo {
	position: absolute;
	left: 0;
	top: 20px;
	z-index: 2;
	line-height: 1;
}

#headerLogo h1 {
	font-size: 1.1rem;
	line-height: 1;
	font-weight: bold;
	color: #959595;
	margin-bottom: 18px;
}

#headerCart {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 999;
}

#headerCustomer {
	position: absolute;
	right: 93px;
	top: 4px;
	z-index: 2;
	text-align: right;
	font-size: 1.1rem;
	line-height: 27px;
}

#headerCustomer select {
	width: 132px;
	height: 30px;
	border: 1px solid #d2d2d2;
	background: url(../img/common/ico_dropdown.png) 96% center no-repeat #fff;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	text-align: center;
	font-size: 1rem;
}

#headerSearch {
	position: absolute;
	right: 0;
	top: 88px;
	z-index: 2;
}

#headerSearch .inputSearch {
	width: 196px;
	height: 26px;
	border: 1px solid #e4e4e4;
	background: #fff;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	float: left;
	display: block;
	padding: 0 10px;
	font-size: 1.2rem;
}
#headerSearch .inputSubmit {
	width: 27px;
	height: 26px;
	border: 0;
	background: url(../img/common/btn_search.png) center center no-repeat;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	float: left;
	text-indent: -9999px;
	display: block;
}

#headerLinks {
	position: absolute;
	width: 54.16%;
	left: 24.75%;
	z-index: 2;
	bottom: 6px;
}
#headerLinks .headerSubNavi {
	padding-right: 22px;
	text-align: right;
	margin-bottom: 36px;
}
#headerLinks .headerSubNavi a {
	text-align: center;
	display: inline-block;
	border-right: 2px solid #d2d2d3;
	width: 144px;
	font-size: 1.2rem;
	line-height: 1;
}
#headerLinks .headerSubNavi a:first-child {
	border-left: 2px solid #d2d2d3;
	width: 146px;
}
.btnMenu {
	display: none;
	position: absolute;
	left: 10px;
	top: 10px;
	width: 44px;
	height: 47px;
	z-index: 999;
}
.btnMenu a {
	display: block;
	width: 44px;
	height: 47px;
	background: url(../img/common/btn_menu.png) center center no-repeat;
	background-size: cover;
	text-indent: -999px;
}
.btnMenu a.on {
	background: url(../img/common/btn_menu_close.png) center center no-repeat;
	background-size: cover;
}

@media screen and (max-width: 959px) {
	#header {
		height: 75px;
	}

	#headerIn {
		border-top: 6px solid #026ed3;
		position: fixed;
		border-bottom: 0;
		background: #fff;
		height: 75px;
		-webkit-box-shadow: 0 4px 4px rgba(0,0,0,0.4);
		-moz-box-shadow: 0 4px 4px rgba(0,0,0,0.4);
		-ms-box-shadow: 0 4px 4px rgba(0,0,0,0.4);
		-o-box-shadow: 0 4px 4px rgba(0,0,0,0.4);
		box-shadow: 0 4px 4px rgba(0,0,0,0.4);
	}

	#headerIn .inner {
		position: relative;
		height: auto;
	}

	#headerLogo {
		position: relative;
		left: 0;
		top: 0;
		padding-top: 11px;
		text-align: center;
	}
	#headerLogo img {
		height: 45px;
	}

	#headerLogo h1 {
		display: none;
	}

	#headerCart {
		position: absolute;
		right: 10px;
		top: 11px;
		z-index: 2;
	}
	#headerCart img {
		height: 45px;
	}

	#headerCustomer,
	#headerLinks,
	#headerSearch{
		display: none;
	}
	
	.btnMenu {
		display: block;
	}
}

/*** スマホ 320px ~ 767px***/
@media screen and (max-width: 767px) {

}



/* !breadcrumb
---------------------------------------------------------- */
#breadcrumb {
	background: #f1f1f1;
	border-bottom: 1px solid #e3e3e3;
	font-size: 1.2rem;
	line-height: 1.5;
	padding: 16px 0 12px;
}
#breadcrumb a {
	display: inline-block;
}
#breadcrumb a.home {
	width: 16px;
	height: 18px;
	background: url(../img/common/img_home.png) center center no-repeat;
	background-size: 100%;
	text-indent: -999px;
}
/*** タブレット 768x ~ 959px***/
@media screen and (max-width: 959px) {
	#breadcrumb {
		font-size: 1.1rem;
		padding: 11px 10px 7px;
	}
	#breadcrumb a {
		display: inline-block;
	}
	#breadcrumb a.home {
		width: 16px;
		height: 18px;
		background: url(../img/common/img_home.png) center center no-repeat;
		background-size: 100%;
		text-indent: -999px;
	}
}
/* !gNavi
---------------------------------------------------------- */
		
#gNavi {
	width: 100%;
}
#gNavi li {
	float: left;
}
#gNavi li#gNav01 {
	width: 13.58%;
}
#gNavi li#gNav02 {
	width: 15.13%;
}
#gNavi li#gNav03 {
	width: 15.27%;
}
#gNavi li#gNav04 {
	width: 19.13%;
}
#gNavi li#gNav05 {
	width: 17.59%;
}
#gNavi li#gNav06 {
	width: 19.29%;
}
#gNavi li a {
	display: block;
	font-size: 1.4rem;
	font-weight: bold;
	text-align: center;
}
#gNavi li a span {
	display: inline-block;
	padding-bottom: 19px;
	border-bottom: 5px solid #fff;
	position: relative;
}
#gNavi li a:hover span,
#gNavi li.selected a span{
	border-bottom: 5px solid #0068d2;
}
#gNavi li a:hover span:before,
#gNavi li.selected a span:before{
	position: absolute;
	width: 0;
	height: 0;
	border-bottom: 7px solid #0068d2;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 0;
	z-index: 2;
	content: '';
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}

/* !sNavi
---------------------------------------------------------- */
#sNavi {
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 9;
	width: 100%;
	background: #e0e9f1;
	display: none;
	overflow-y: auto;
}
#sNavi:before {
	width: 100%;
	height: 1px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	content: '';
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,1);
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,1);
	-ms-box-shadow: 0 2px 2px rgba(0,0,0,1);
	-o-box-shadow: 0 2px 2px rgba(0,0,0,1);
	box-shadow: 0 2px 2px rgba(0,0,0,1);
}
#sNavi ul {
	background: #fff;
}
#sNavi ul + ul {
	margin-top: 10px;
}

#sNavi ul li + li {
	border-top: 1px solid #eee;
}
#sNavi ul li a {
	display: block;
	padding: 0 30px;
	font-size: 1.6rem;
	font-weight: bold;
	line-height: 50px;
	position: relative;
}
#sNavi ul li a:before {
	position: absolute;
	right: 20px;
	top: 0;
	width: 9px;
	height: 100%;
	background: url(../img/common/ico_link.png) center center no-repeat;
	background-size: 9px auto;
	content: "";
}


/* !mainVisual
---------------------------------------------------------- */
#mainVisual {
	margin-bottom: 26px;
}

#mainVisual .sliderFor {
	margin-bottom: 18px;
	position: relative;
}
#mainVisual .sliderNav {
	padding: 0 26px;
}
#mainVisual .sliderNav .thumb {
	margin-right: 5px;
	float: left;
}
#mainVisual .sliderNav .slick-arrow {
	position: absolute;
	border: 0;
	display: block;
	text-indent: -9999px;
	width: 26px;
	height: 100%;
	top: 0;
	z-index: 99;
}
#mainVisual .sliderNav .slick-prev {
	left: 0;
	background: url(../img/home/ico_prev.png) center center no-repeat;
	background-size: 100% auto;
}
#mainVisual .sliderNav .slick-next {
	right: 0;
	background: url(../img/home/ico_next.png) center center no-repeat;
	background-size: 100% auto;
}
/*** スマホ 320px ~ 767px***/
@media screen and (max-width: 767px) {
	#mainVisual {
		margin-bottom: 10px;
	}
	#mainVisual .slick-dots {
		bottom: -17px;
	}
	#mainVisual .slick-dots li {
    width: 10px;
    height: 10px;
	}
	#mainVisual .slick-dots li button {
    width: 10px;
    height: 10px;
    padding: 0;
	}
	#mainVisual .slick-dots li button:before {
    line-height: 10px;
    width: 10px;
    height: 10px;
    opacity: 1;
    background-color: #e9e8e8;
	}
	#mainVisual .slick-dots li.slick-active button:before {
    background-color: #006ed3;
	}

	#mainVisual .sliderFor {
		margin: 0;
	}
	#mainVisual .sliderFor .slick-arrow {
		position: absolute;
		border: 0;
		display: block;
		text-indent: -9999px;
		width: 27px;
		height: 100%;
		top: 0;
		z-index: 99;
	}
	#mainVisual .sliderFor .slick-prev {
		left: 0;
		background: url(../img/home/ico_main_prev.png) center center no-repeat;
		background-size: 6px auto;
	}
	#mainVisual .sliderFor .slick-next {
		right: 0;
		background: url(../img/home/ico_main_next.png) center center no-repeat;
		background-size: 6px auto;
	}
	#mainVisual .sliderNav {
		display: none;
	}
}

/* !teaser
---------------------------------------------------------- */
#teaser {
	
}

/*** タブレット 768x ~ 959px***/
@media screen and (max-width: 959px) {
	
}

/*** スマホ 320px ~ 767px***/
@media screen and (max-width: 767px) {

}
/* !contents
---------------------------------------------------------- */
#contents {
	min-height: 0;
	padding: 30px 0 0;
  transform:none;
	will-change: auto;
}

#main {
	float: right;
	width: 76.25%;
}

.inner {
	max-width: 1200px;
	margin: 0 auto;
}

/*** タブレット 768x ~ 959px***/
@media screen and (max-width: 959px) {
	#contents {
		padding: 0;
	}
	#main {
		float: none;
		width: auto;
	}
	.mainInner {
		padding: 13px 10px 0;
	}
}

/* !side
---------------------------------------------------------- */
#side {
	float: left;
	width: 21.25%;
}
#lNavi {
	border: 1px solid #d9d9d9;
}

#lNavi > ul > li > a {
	border: 1px solid #d9d9d9;
	display: block;
	font-size: 1.7rem;
	line-height: 1.88;
	padding: 7px 20px;
	color: #fff;
	font-weight: bold;
}
#lNavi .subNavi li {
	border-top: 1px solid #d9d9d9;
}
#lNavi .subNavi li a {
	padding: 9px 0 9px 40px;
	font-size: 1.3rem;
	line-height: 1.5;
	color: #2d6eab;
	text-decoration: underline;
	display: block;
	font-weight: bold;
}
#lNavi .subNavi li a.parents {
	background: #e0e9f1;
	padding-left: 16px;
}

.subNavi {
	display: none;
}

.bg01 {
	background: #006ed3;
}
.bg02 {
	background: #009ad3;
}
.bg03 {
	background: #86c4ea;
}
.bg04 {
	background: #013f77;
}
.sideCalendar {
	padding: 30px 0
}
.sideCalendar .calendarNote span {
	display: inline-block;
	background: #fad2d1;
	color: #bd0b00;
	font-size: 1.1rem;
	line-height: 21px;
	width: 60px;
	text-align: center;
}

.sideLinks {
	border: 2px solid #d9d9d9;
	background: #fff;
	margin-bottom: 13px;
}
.sideLinks li + li {
	border-top: 1px solid #d9d9d9;
}
.sideLinks li a {
	padding: 0 15px;
	color: #2d6eab;
	text-decoration: underline;
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 38px;
}

.sideLogin {
	padding: 10px 15px;
	border: 1px solid #d9d9d9;
	background: #fff;
	margin-bottom: 24px;
	font-size: 1.1rem;
	line-height: 1.27;
}
.sideLogin a {
	color: #2d6eab;
	text-decoration: underline;
	font-size: 1.2rem;
	line-height: 1.5;
	font-weight: bold;
}
.sideLogin p + p {
	margin-top: 8px;
}

.sideBanner li {
	float: left;
	width: 50%;
}
.sideBanner li a {
	display: block;
	line-height: 1;
}

/*** タブレット 768x ~ 959px***/
@media screen and (max-width: 959px) {
	#side {
		float: none;
		width: auto;
	}
	#lNavi {
		border-bottom: 0;
	}
	#lNavi > ul > li {
		border-bottom: 1px solid #d9d9d9;
	}
	#lNavi > ul > li > a {
		position: relative;
	}
	#lNavi .parents:before {
		position: absolute;
		right: 20px;
		width: 14px;
		height: 14px;
		background: url(../img/common/ico_open.png) center center no-repeat;
		background-size: cover;
		top: 50%;
		margin-top: -7px;
		z-index: 2;
		content: "";
	}
		#lNavi .parents.on:before {
		background: url(../img/common/ico_close.png) center center no-repeat;
		background-size: cover;
	}
	#lNavi .bg04.parents:before {
		position: absolute;
		right: 20px;
		width: 14px;
		height: 14px;
		background: url(../img/common/ico_open_w.png) center center no-repeat;
		background-size: cover;
		top: 50%;
		margin-top: -7px;
		z-index: 2;
		content: "";
	}
		#lNavi .bg04.parents.on:before {
		background: url(../img/common/ico_close_w.png) center center no-repeat;
		background-size: cover;
	}
	#lNavi .subNavi li a.parents {
		position: relative;
	}
	.sideCalendar,
	.sideLinks,
	.sideLogin,
	.sideBanner{
		display: none;
	}

}


/* !pageTop
---------------------------------------------------------- */
.pageTop {
	position: relative;
		right: 0;
		bottom: 0;
		display: block;
		text-align: right;
		padding: 25px 40px;
}


@media screen and (max-width: 959px) {
	.pageTop {
		position: relative;
		right: 0;
		bottom: 0;
		display: block;
		text-align: right;
		padding: 20px 10px 15px;
	}
	.pageTop img {
		width: 30px;
	}
}

@media screen and (max-width: 767px) {
	
}
/* !footer
---------------------------------------------------------- */
#footer {
	width: 100%;
	padding: 0;
	border: 0;
	margin: 0;
	background: none;
}

#footer ul {
	text-align: left;
}
#footer ul li {
	display: block;
	margin: 0;
}

#footerTop {
	background: #d7eefc;
	padding: 60px 0 120px;
}
#footerTop .inner {
	max-width: 1100px;
}
#footerTop .siteFeatures {
	border: 3px solid #9cafba;
	background: #fff;
	margin-bottom: 27px;
}

#footerTop .siteFeatures .featuresItem {
	float: left;
	width: 25%;
	padding: 20px 10px;
	text-align: center;
	font-size: 1.1rem;
	line-height: 1.27;
	color: #38464c;
	position: relative;
}
#footerTop .siteFeatures .featuresItem + .featuresItem:before {
	position: absolute;
	left: 0;
	top: 15%;
	width: 0;
	border-left: 1px dotted #b2b2b2;
	height: 70%;
	z-index: 2;
	content: '';
}

#footerTop .siteFeatures .featuresTitle {
	font-size: 1.8rem;
	line-height: 1.11;
	font-weight: bold;
	margin-bottom: 7px;
}
#footerTop .siteFeatures .featuresTitle .fs01 {
	font-size: 1.4rem;
	display: block;
}
#footerTop .siteFeatures .featuresTitle .fs02 {
	font-size: 1.2rem;
	display: block;
}
#footerTop .siteFeatures .featuresImg {
	margin-bottom: 8px;
}

#footerTop .payDelivery {
	margin-left: -4px;
}

#footerTop .payDelivery .payDeliveryItem {
	float: left;
	width: 50%;
	padding-left: 4px;
}

#footerTop .payDelivery .payDeliveryBox {
	border: 1px solid #e8e7e7;
	background: #fff;
}

#footerTop .payDelivery .payDeliveryTitle {
	border-bottom: 2px solid #e8e7e7;
	padding: 10px;
	text-align: center;
	font-size: 1.4rem;
	line-height: 1.35;
	font-weight: bold;
}
#footerTop .payDeliveryTitle .icoPay {
	display: inline-block;
	padding-left: 30px;
	background: url(../img/common/ico_pay.png) left center no-repeat;
}

#footerTop .payDeliveryTitle .icoDelivery {
	display: inline-block;
	padding-left: 30px;
	background: url(../img/common/ico_delivery.png) left center no-repeat;
}

#footerTop .payDeliveryInner {
	padding: 18px 25px 10px;
	font-size: 1.2rem;
	line-height: 1.5;
}

#footerTop .payDelivery .subTitle {
	border-left: 4px solid #e8e7e7;
	padding-left: 10px;
	font-size: 1.2rem;
	line-height: 1;
	font-weight: bold;
	margin-bottom: 10px;
}

#footerTop .payDelivery .subInner {
	padding: 0 0 30px 15px;
}

#footerBody {
	background: #0065c1;
	color: #fff;
}
#footerBody a {
	color: #fff;
}
#footerBody a:hover {
	color: #fff;
	text-decoration: underline;
}
#footerBody .homeLink {
	background: #3286df;
	padding: 0 30px;
}
#footerBody .homeLink a {
	font-size: 1.4rem;
	color: #fff;
	font-weight: bold;
	line-height: 40px;
}
#footerBody .footerInner {
	padding: 34px 0 30px;
	border-bottom: 1px solid #034d91;
	font-size: 1.2rem;
	line-height: 1.66;
	font-weight: bold;
}

#footerBody .footerInner .fs01 {
	font-size: 1.1rem;
}

#footerBody .footerInner .fs02 {
	font-size: 1.4rem;
}

#footerBody .naviItem01 {
	float: left;
	width: 24.66%;
	padding-left: 25px;
}

#footerBody .naviItem01 li {
	float: left;
	width: 50%;
}

#footerBody .naviItem02 {
	float: left;
	width: 14.5%;
	padding-left: 25px;
	border-left: 1px solid #034d91;
}

#footerBody .telItem {
	float: left;
	width: 23.8%;
	padding-left: 25px;
	border-left: 1px solid #034d91;
}

#footerBody .addrItem {
	float: left;
	width: 22.5%;
	padding-left: 25px;
	border-left: 1px solid #034d91;
}

#footerBtm {
	overflow: hidden;
	padding: 18px 25px 27px;
	font-size: 1.1rem;
	line-height:1.81;
}

#footerBtm .footerLinks {
	float: left;
}

#footerBtm #copyright {
	float: right;
}

@media screen and (max-width: 959px) {
	#footer {
		margin: 0;
	}

	#footer ul {
		text-align: left;
	}
	#footer ul li {
		display: block;
		margin: 0;
	}

	#footerTop {
		display: none;
	}

	#footerBody {
		background: #fff;
		color: #1b1b1b;
	}
	#footerBody a {
		color: #1b1b1b;
	}
	#footerBody a:hover {
		color: #1b1b1b;
		text-decoration: underline;
	}
	#footerBody .homeLink {
		display: none;
	}

	#footerBody .footerInner {
		padding: 0;
		border-bottom: 0;
		font-weight: normal;
	}

	#footerBody .footerInner .fs01 {
		font-size: 1.1rem;
	}

	#footerBody .footerInner .fs02 {
		font-size: 1.4rem;
	}

	#footerBody .naviItem01,
	#footerBody .naviItem02,
	#footerBody .telItem,
	#footerBody .addrItem{
		float: none;
		width:  auto;
		padding-left: 0;
		border-left: 0;
	}

	#footerBody .naviItem02 {
		border-top: 1px solid #d9d9d9;
	}
	#footerBody .naviItem02 ul {
		overflow: hidden;
	}
	#footerBody .naviItem02 ul li {
		float: left;
		width: 50%;
		border-bottom: 1px solid #d9d9d9;
	}
	#footerBody .naviItem02 ul li:nth-child(2n) {
		border-left: 1px solid #d9d9d9;
	}
	
	#footerBody .naviItem02 ul li a {
		display: block;
		text-align: center;
		line-height: 39px;
		font-weight: normal;
	}

	#footerBody .telItem {
		background: #e0e9f1;
		padding: 10px;
		line-height: 1.5;
	}
	#footerBody .telItem .telItemBox {
		border: 1px solid #d9d9d9;
		background: #fff;
		padding: 18px;
		font-weight: normal;
	}
	#footerBody .telItem .telItemBox p + p {
		margin-top: 5px;
	}
	#footerBody .telItem .telItemBox a {
		display: block;
		border: 1px solid #adb1b8;
		background: url(../img/common/bg_tel.jpg) center center repeat-x;
		background-size: auto 100%;
		border-radius: 2px;
		padding: 10px 0;
	}
	#footerBody .telItem .telItemBox a img {
		width: 211px;
		margin: 0 auto;
	}

	#footerBody .addrItem {
		padding: 15px 20px;
	}
	#footerBody .addrItem p {
		font-weight: normal !important;
	}
	
	#footerBody .naviItem03 {
		padding: 10px 10px 15px;
		border-bottom: 1px solid #d9d9d9;
	}
	#footerBody .naviItem03 li {
		float: left;
		width: 50%;
	}
	
	#footerBody .naviItem03 li a {
		display: block;
		font-size: 1.1rem;
		line-height: 2.18;
		padding-left: 10px;
	}
	#footerBody .banner {
		padding: 15px;
	}
	#footerBody .banner li {
		float: left;
		width: 50%;
	}
	#footerBody .banner li a {
		display: block;
		text-align: center;
	}
	#footerBody .banner li img {
		height: 30px;
	}

	#footerBtm {
		padding: 0;
	}

	#footerBtm .footerLinks {
		display: none;
	}

	#footerBtm #copyright {
		float: none;
		text-align: center;
		background: #0065c1;
		color: #fff;
		line-height: 1.63;
		padding: 17px 0;
	}
}
	
/* !h(n)eading
---------------------------------------------------------- */
.hdL {
	border-bottom: 2px solid #006ed4;
	padding-bottom: 8px;
	margin-bottom: 26px;
	font-size: 2.1rem;
	line-height: 1.3;
	color: #006dd2;
	font-weight: bold;
}



.hdM {
	font-size: 1.8rem;
	line-height: 1.5;
	padding-bottom: 7px;
	margin-bottom: 20px;
	font-weight: bold;
	color: #006dd2;
	border-bottom: 2px solid #006ed4;
}

.hdS {
	position: relative;
	font-size: 1.6rem;
	line-height: 1.75;
	font-weight: bold;
	padding-left: 15px;
}
.hdS:before {
	position: absolute;
	left: 0;
	top: 9px;
	width: 4px;
	height: 12px;
	background: #969696;
	content: '';
}

.hd01 {
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: 7px;
}

.hd02 {
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 1.5;
	padding: 10px 30px;
	margin-bottom: 14px;
	background: #eee;
}


/*** タブレット 768x ~ 959px***/
@media screen and (max-width: 959px) {
	.hdL {
		padding-bottom: 6px;
		margin-bottom: 10px;
		font-size: 1.6rem;
		line-height: 1.5;
	}
	.hdL span {
		font-size: 1rem;
		display: block;
		margin-left: 0;
	}
	
	.hdS {
		font-size: 1.5rem;
		line-height: 1.5;
		margin-bottom: 7px;
	}
	.hdS:before {
		top: 0;
		width: 4px;
		height: 100%;
	}
	.hd01 {
		font-size: 1.5rem;
		line-height: 1.2;
	}
	
}

/*** スマホ 320px ~ 767px***/
@media screen and (max-width: 767px) {
	.hdL span {
		font-size: 1.1rem;
		display: inline-block;
		margin-left: 16px;
		vertical-align: middle;
	}
	.hd02 {
		font-size: 1.5rem;
		padding: 7px 15px;
		margin-bottom: 6px;
	}
}


/* !list
---------------------------------------------------------- */
.list01 li {
	padding-left: 1em;
	text-indent: -1em;
	text-align: left;
}

.list02 .listMark,
.list02 .listCont {
	display: table-cell;
}

/*** タブレット 768x ~ 959px***/
@media screen and (max-width: 959px) {

}

/*** スマホ 320px ~ 767px***/
@media screen and (max-width: 767px) {
	.list02 li + li {
		margin-top: 15px;
	}
	.list02 .listMark,
	.list02 .listCont {
		display: inline;
	}
}


/* !table
---------------------------------------------------------- */
.table01 {
	
}

/*** タブレット 768x ~ 959px***/
@media screen and (max-width: 959px) {

}

/*** スマホ 320px ~ 767px***/
@media screen and (max-width: 767px) {

}

/* !common structure
---------------------------------------------------------- */
.searchSmart {
	display: none;
}

/*** タブレット 768x ~ 959px***/
@media screen and (max-width: 959px) {
	.searchSmart {
		display: block;
		background: #e0e9f1;
		padding: 15px 20px;
	}
	.searchSmart .searchSmartBox {
		position: relative;
		padding-right: 35px;
	}
	.searchSmart .inputSearch {
		width: 100%;
		height: 35px;
		border: 1px solid #e4e4e4;
		border-right: 0;
		background: #fff;
		-webkit-appearance: none;
		-webkit-border-radius: 0;
		display: block;
		padding: 0 5px;
		font-size: 1.2rem;
	}
	.searchSmart .inputSubmit {
		width: 35px;
		height: 35px;
		border: 0;
		background: url(../img/common/btn_search_sp.png) center center no-repeat;
		background-size: 100%;
		-webkit-appearance: none;
		-webkit-border-radius: 0;
		text-indent: -9999px;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 2;
	}
}

.datepicker {
	width: 100% !important;
}
.datepicker a {
	color: #333 !important;
}
.datepickerContainer {
	left: 0 !important;
	top: 0 !important;
	background: none !important;
	width: 100% !important;
}
.datepickerContainer > table,
.datepickerContainer > table > tbody,
.datepickerContainer > table > tbody > tr,
.datepickerContainer > table > tbody > tr > td {
	display: block;
	width: 100% !important;
}

.datepicker tbody a {
	display: inline-block !important;
}

.datepicker .datepickerGoPrev a,
.datepicker .datepickerGoNext a,
.datepickerWeek,
.datepickerDoWWeek {
	display: none !important;
}
.datepickerBorderT,
.datepickerBorderB,
.datepickerBorderL,
.datepickerBorderR,
.datepickerBorderTL,
.datepickerBorderTR,
.datepickerBorderBL,
.datepickerBorderBR {
	position: relative !important;
	left: 0 !important;
	top: 0 !important;
	right: 0; !important
	bottom: 0 !important;
}
.datepickerMonth {
	text-align: center !important;
}
.datepickerMonth a {
	text-align: center !important;
	color: #333 !important;
	font-size: 14px !important;
	font-weight: bold !important;
}
div.datepicker th {
    background: #fff;
		height: 30px;
}
.datepickerSpace {
	height: 20px;
}

.datepickerViewDays {
	width: 100%;
	border: 1px solid #d3d3d4;
}

.datepickerViewDays thead {
	background: #eee;
}
.datepickerViewDays .datepickerDoW th {
	width: 30px;
	height: 30px;
	text-align: center;
	font-size: 14px;
	background: #9cd7f0;
	color: #030000;
	font-weight: bold;
}
.datepickerViewDays .datepickerDoW th:first-child {
	color: #e71f19;
}
.datepickerDays {
	background: #fff;
}

.datepickerDays td {
	width: 30px;
	height: 30px;
	border: 1px solid #d3d4d4;
	font-size: 14px;
	font-weight: bold;
}
.datepickerDays a {
	padding: 0 !important;
}



.datepickerSaturday {
	background: #fff !important;
}

.datepickerSaturday a {
	color: #030000 !important;
}

.datepickerSunday {
	background: #fad2d1 !important;
}

.datepickerSunday a {
	color: #e72119 !important;
}
.datepickerSelected {
	background: #fad2d1 !important;
}

.datepickerSelected a {
	color: #e72119 !important;
}
.datepickerNotInMonth {
	background: #fff !important;
	font-weight: normal !important;
}

.datepickerNotInMonth a {
	color: #c0bfbf !important;
}


.datepicker table td {
	text-align: center !important;
	
}


a.txtLink01 {
	text-decoration: underline;
	color: #2d6eab;
	font-weight: bold;
}

a.txtLink01:hover {
	text-decoration: none;
}

.txtColorRed {
	color: #bd0b00;
}
.txtColorBlack {
	color: #1b1b1b;
}
