@charset "utf-8";
/*
 * style.css
 *
 *  version --- 1.0
 *  updated --- 2017/9/3
 */



.homeBannerList {
	margin-left: -11px;
	padding-bottom: 20px;
}
.homeBannerList li {
	width: 50%;
	float: left;
	padding-left: 11px;
	margin-bottom: 14px;
}

.homeBannerList li a {
	display: block;
	line-height: 1;
}

.homeBannerList li a img {
	width: 100%;
}

.homeNews {
	padding: 40px 0 50px 40px;
	position: relative;
}

.homeNews:before {
	position: absolute;
	left: -9px;
	top: -11px;
	background: url(../img/home/img_news_check.png) center center no-repeat;
	width: 83px;
	height: 83px;
	z-index: 2;
	content: "";
}

.homeNewsList dl {
	overflow: hidden;
	padding: 15px 0;
	border-bottom: 1px solid #eee;
}

.homeNewsList dl dt {
	float: left;
	width: 100px;
}

.homeNewsList dl dd {
	overflow: hidden;
}
/*** タブレット 768x ~ 959px***/
@media screen and (max-width: 959px) {
	.homeNews {
		padding: 0 0 25px 0;
		position: relative;
	}

	.homeNews:before {
		display: none;
	}
}

/*** スマホ 320px ~ 767px***/
@media screen and (max-width: 767px) {
	.homeBannerList {
		margin-left: 0;
		padding-bottom: 10px;
	}
	.homeBannerList li {
		width: auto;
		float: none;
		padding-left: 0;
		margin-bottom: 10px;
	}

	.homeNewsList dl {
		padding: 13px 0
	}

	.homeNewsList dl dt {
		float: none;
		width: auto;
		font-size: 1.1rem;
		line-height: 1.5;
		margin-bottom: 3px;
	}

	.homeNewsList dl dd {
		overflow: hidden;
		font-size: 1.2rem;
		line-height: 1.5;
	}
}

.memberGuide {
	border: 4px solid #009ad3;
	background: url(../img/guide/bg_guide01.png) 0 0 repeat;
	margin-bottom: 60px;
}

.memberGuide .memberGuideHead {
	background: #009ad3;
	font-size: 1.6rem;
	line-height: 1.5;
	color: #fff;
	text-align: center;
	padding: 17px;
}

.memberGuide .memberGuideHead .memberGuideTitle {
	font-size: 3rem;
	line-height: 1.5;
	color: #fbe31b;
	font-weight: bold;
}
.memberGuide .memberGuideHead .titLine {
	display: inline-block;
	position: relative;
	padding: 0 50px;
}
.memberGuide .memberGuideHead .titLine:before {
	position: absolute;
	left: 0;
	top: 50%;
	height: 1px;
	width: 35px;
	background: #fff;
	content: '';
}
.memberGuide .memberGuideHead .titLine:after {
	position: absolute;
	right: 0;
	top: 50%;
	height: 1px;
	width: 35px;
	background: #fff;
	content: '';
}

.memberGuide .memberGuideBody {
	padding: 25px 0 28px;
	text-align: center;
	font-size: 1.4rem;
	line-height: 1.5;
	color: #1b1b1b;
	position: relative;
}
.memberGuide .memberGuideBody p {
	position: relative;
	z-index: 2;
}

.memberGuideBtn {
	margin-top: 10px;
}

.memberGuideBtn a {
	display: inline-block;
	width: 370px;
	height: 60px;
	background: #36a338;
	font-size: 1.6rem;
	font-weight: bold;
	line-height: 60px;
	color: #fff;
}

.memberGuideBtn a:hover {
	text-decoration: none;
	opacity: .7;
}

.memberGuideImg01 {
	position: absolute !important;
	left: 10px;
	bottom: 0;
	z-index: 1 !important;
}

.memberGuideImg02 {
	position: absolute !important;
	right: 12px;
	bottom: 10px;
	z-index: 1 !important;
}

.importNote {
	border: 1px solid #bd0b00;
	background: #fff;
	padding: 9px;
	font-size: 1.8rem;
	line-height: 1.5;
	color: #bd0b00;
	text-align: center;
	margin-bottom: 36px;
}

.txtWrap {
	padding-bottom: 25px;
}
.txtIndBox {
	padding: 0 0 35px 15px;
	font-size: 1.6rem;
	line-height: 1.75;
}

.txtBox {
	padding: 0 0 40px;
	font-size: 1.6rem;
	line-height: 1.75;
}

.changeTime {
	border: 1px solid #a3b4bf;
	padding: 13px 30px;
	display: inline-block;
	margin-bottom: 20px;
	font-size: 1.6rem;
	line-height: 1.75;
}
.changeTime dt {
	float: left;
	width: 265px;
}
.changeTime dd {
	overflow: hidden;
}
.changeTime dd span.mark {
	display: table-cell;
	width: 32px;
}
.changeTime dd span.cont {
	display: table-cell;
}
/*** タブレット 768x ~ 959px***/
@media screen and (max-width: 959px) {
	.memberGuide {
		border: 2px solid #009ad3;
		background: url(../img/guide/bg_guide01.png) 0 0 repeat;
		background-size: 5px auto;
		margin-bottom: 45px;
	}

	.memberGuide .memberGuideHead {
		font-size: 1rem;
		line-height: 1.5;
		padding: 6px 3px 3px;
	}

	.memberGuide .memberGuideHead .memberGuideTitle {
		font-size: 1.8rem;
		line-height: 1.16;
		margin-bottom: 2px;
	}
	.memberGuide .memberGuideHead .titLine {
		padding: 0;
	}
	.memberGuide .memberGuideHead .titLine:before,
	.memberGuide .memberGuideHead .titLine:after{
		display: none;
	}

	.memberGuide .memberGuideBody {
		padding: 10px 0;
		font-size: 1rem;
		line-height: 1.5;
	}


	.memberGuideBtn {
		margin-top: 5px;
	}

	.memberGuideBtn a {
		width: 57.8125vw;
		height: 30px;
		font-size: 1rem;
		line-height: 3;
	}

	.memberGuideBtn a:hover {
		text-decoration: none;
		opacity: 1;
	}

	.memberGuideImg01,
	.memberGuideImg02 {
		display: none;
	}

	.importNote {
		padding: 6px 10px;
		font-size: 1.6rem;
		text-align: left;
		margin-bottom: 15px;
	}

	.txtIndBox {
		padding: 0 0 15px;
		font-size: 1.3rem;
		line-height: 1.53;
	}

	.txtBox {
		padding: 0 0 25px;
		font-size: 1.3rem;
		line-height: 1.53;
	}

	.changeTime {
		border: 1px solid #a3b4bf;
		padding: 13px 30px;
		display: block;
		margin-bottom: 20px;
		font-size: 1.3rem;
		line-height: 1.53;
		text-align: center;
		background: #fafafa;
	}
	.changeTime dt {
		float: none;
		width: auto;
	}
	.changeTime dd {
		overflow: hidden;
	}
	.changeTime dd span.mark {
		display: inline-block;
		width: auto;
	}
	.changeTime dd span.cont {
		display: inline-block;
	}
}



.reviewBox {
	font-size:1.4rem;
	position:relative;
	padding-bottom:20px;
}
.reviewBox .note {
	position:absolute;
	right:0;
	top:0;
	z-index:2;
}
.productList {
	padding-bottom: 50px;
}
.productList ul {
	margin-left: -13px;
}
.productList li {
	float: left;
	width: 25%;
	padding-left: 13px;
	margin-bottom: 16px;
}
.productItem {
	border: 1px solid #e1e1e0;
	position: relative;
	border-radius: 2px;
}
.productItem:hover {
	opacity: .7;
}

.productItem .productImg {
	width: 100%;
	height: 180px;
	margin-bottom: 5px;
	overflow: hidden;
}
.productItem .productImg a {
	width: 100%;
	height: 180px;
	position: relative;
	display: block;
}
.productItem .productImg img {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	left: 50%;
	top: 50%;
	z-index: 2;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.productItem .productItemBox {
	padding: 0 14px 17px;
	font-size: 1.4rem;
	line-height: 1.21;
	color: #38464c;
	font-weight: bold;
}

.productItem .productPrice {
	font-size: 1.8rem;
	line-height: 1.5;
	margin-top: 4px;
	color: #006dd2;
}

.icoNew:before {
	position: absolute;
	width: 59px;
	height: 59px;
	background: url(../img/product/ico_new.png) center center no-repeat;
	background-size: cover;
	left: -3px;
	top: -3px;
	z-index: 22;
	content: "";
}

.pageLink {
	text-align: center;
	margin-top: 25px;
}

.pageLink span,
.pageLink a {
	display: inline-block;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 1.6rem;
	margin: 0 5px;
}
.pageLink span,
.pageLink a:hover {
	background: #f3f3f3;
	text-decoration: none;
}

/*** タブレット 768x ~ 959px***/
@media screen and (max-width: 959px) {
	.showCount {
		display: none;
	}
	.reviewBox {
		font-size:1.4rem;
		line-height: 40px;
		background: #f1f1f1;
		position:relative;
		width: 100%;
		padding: 0 10px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
		padding-bottom:0;
		margin: 0 -10px;
	}
	.reviewBox .note {
		position:absolute;
		right:10px;
		top:0;
		z-index:2;
	}
	.productList {
		padding-bottom: 25px;
	}
	.productList ul {
		margin-left: -10px;
	}
	.productList li {
		width: 50%;
		padding-left: 10px;
		margin-bottom: 10px;
	}

	.productItem:hover {
		opacity: 1;
	}



	.pageLink {
		text-align: center;
		margin-top: 15px;
	}

	.pageLink span,
	.pageLink a {
		display: inline-block;
		width: 30px;
		height: 30px;
		text-align: center;
		line-height: 30px;
		font-size: 1.2rem;
		margin: 0 5px;
	}

}

/*** スマホ 320px ~ 767px***/
@media screen and (max-width: 767px) {
		.productItem .productImg {
			height: 110px;
			padding: 10px;
		}
		.productItem .productImg a {
			height: 90px;
		}
	
		.productItem .productItemBox {
			padding: 0 8px 8px;
			font-size: 1.2rem;
		}

		.productItem .productPrice {
			font-size: 1.6rem;
		}
}


.productCategoryList {
	padding-bottom: 50px;
}
.productCategoryList ul {
	margin-left: -18px;
}
.productCategoryList li {
	float: left;
	width: 25%;
	padding-left: 18px;
	margin-bottom: 18px;
}
.productCategoryItem {
	position: relative;
}
.productCategoryItem:hover {
	opacity: .7;
}

.productCategoryItem .productImg {
	width: 100%;
	height: 156px;
	overflow: hidden;
}
.productCategoryItem .productImg a {
	width: 100%;
	height: 156px;
	position: relative;
	display: block;
}
.productCategoryItem .productImg img {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	left: 50%;
	top: 50%;
	z-index: 2;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.productCategoryItem .productCategory {
	padding-left: 16px;
}

.productCategoryItem .productCategory a {
	display: inline-block;
	padding-left: 10px;
	background: url(../img/common/ico_link_s.png) left 10px no-repeat;
	font-size: 1.5rem;
	line-height: 1.6;
	color: #006dd2;
	font-weight: bold;
}
.productCategoryItem .productCategory a span {
	display: block;
	font-size: 1.1rem;
	line-height: 1;
	color: #010101;
	font-weight: normal;
}
.productCategoryItem .productCategory a:hover {
	text-decoration: none;
}
.productDetail {
	padding-bottom: 40px;
}


.productDetailBox {
	overflow: hidden;
	padding-left: 30px;
}

.productDetailItem {
	border-bottom: 2px solid #f1f1f1;
	padding-bottom: 10px;
	margin-bottom: 15px;
	font-size: 1.6rem;
	line-height: 1.75;
}

.productDetailID,
.productDetailCategory {
	line-height: 1.5;
}

.productPriceNormal,
.productPriceMember {
	font-size: 1.5rem;
	line-height: 31px;
}
.productPriceMember {
	color: #bd0b00;
}
.productPriceNormal i {
	font-style: normal;
	font-size: 1.8rem;
}
.productPriceMember i {
	font-style: normal;
	font-size: 2.4rem;
}

.countNum {
	padding: 15px 0 20px;
}

.inpNun {
	border: 1px solid #c4ccce;
	width: 100px;
	height: 40px;
	text-align: right !important;
	border-radius: 3px;
	-webkit-appearance: none;
	display: inline-block;
	margin-left: 16px;
}
.addCartBtn01 {
	margin-bottom: 25px;
}
.addCartBtn01 a {
	width: 100%;
	display: block;
	background: #0d9e00;
	height: 60px;
	font-size: 1.6rem;
	line-height: 60px;
	text-align: center;
	color: #fff;
	font-weight: bold;
}

.addCartBtn01 a:hover {
	text-decoration: none;
	opacity: 0.7;
}

.addLikeBtn01 {
	border: 1px solid #a1a5ac;
	border-radius: 2px;
	width: 206px;
	height: 32px;
	text-align: center;
	font-size: 1.3rem;
	line-height: 30px;
	background: -moz-linear-gradient(top, #fbfbfc, #e7e9ed);
	background: -webkit-gradient(linear, top, from(#fbfbfc), to(#e7e9ed));
	background: -webkit-linear-gradient(top, #fbfbfc, #e7e9ed);
	background: -o-linear-gradient(top, #fbfbfc, #e7e9ed);
	background: -ms-linear-gradient(top, #fbfbfc, #e7e9ed);
	background: linear-gradient(top, #fbfbfc, #e7e9ed);
}
.productDetailImg {
	float: left;
	width: 54.8%;
}

.productDetailImg .sliderFor {
	border: 4px solid #f1f1f1;
	margin-bottom: 16px;
	position: relative;
}
.productDetailImg .sliderFor.icoNew:before {
	left: -7px;
	top: -7px;
}
.productDetailImg .sliderNav {
	margin-left: -10px;
}
.productDetailImg .sliderNav .thumb {
	border: 4px solid #f1f1f1;
	padding: 1px;
	background: #fff;
	margin-left: 10px;
	float: left;
}

.productIntrBox {
	padding: 0 0 50px 15px;
}

@media screen and (max-width: 959px) { 
.productIntrBox {
	padding: 0 0 25px;
}
}

/*** スマホ 320px ~ 767px***/
@media screen and (max-width: 767px) {
	.productDetailImg {
		float: none;
		width:  auto;
		margin-bottom: 15px;
	}
	.productDetailImg .sliderFor {
		border: 2px solid #f1f1f1;
		margin-bottom: 10px;
	}
	.productDetailImg .sliderFor.icoNew:before {
		left: -5px;
		top: -5px;
	}
	.productDetailImg .sliderFor .slick-arrow {
		position: absolute;
		border: 0;
		display: block;
		text-indent: -9999px;
		width: 20px;
		height: 100%;
		top: 0;
		z-index: 99;
	}
	.productDetailImg .sliderFor .slick-prev {
		left: 0;
		background: url(../img/product/ico_prev.png) center center no-repeat;
		background-size: 6px auto;
	}
	.productDetailImg .sliderFor .slick-next {
		right: 0;
		background: url(../img/product/ico_next.png) center center no-repeat;
		background-size: 6px auto;
	}
	.productDetailImg .sliderNav {
		margin-left: -4px;
	}
	.productDetailImg .sliderNav .thumb {
		border: 1px solid #f1f1f1;
		margin-left: 4px;
	}

	.productDetailBox {
		padding-left: 0;
		overflow: visible;
	}

	.productDetailItem {
		margin-bottom: 10px;
		font-size: 1.4rem;
		line-height: 2;
	}

	.productDetailID,
	.productDetailCategory {
		line-height: 1.285;
	}

	.productPriceNormal,
	.productPriceMember {
		font-size: 1.2rem;
		line-height: 31px;
	}
	.productPriceNormal i {
		font-size: 1.6rem;
	}
	
	.productCtrl {
		background: #f1f1f1;
		width: 100%;
		padding: 13px 15px 17px;
		margin: 0 -15px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
	}

	.countNum {
		padding: 0 0 10px;
		text-align: center;
		font-size: 1.2rem;
		line-height: 30px;
	}

	.inpNun {
		width: 70px;
		height: 30px;
	}
	.addCartBtn01 {
		margin-bottom: 10px;
	}
	.addCartBtn01 a {
		height: 50px;
		line-height: 50px;
	}

	.addCartBtn01 a:hover {
		opacity: 1;
	}

	.addLikeBtn01 {
		width: 100%;
		height: 40px;
		line-height: 40px;
	}
	
	.productCategoryList ul {
		margin-left: -10px;
	}
	.productCategoryList li {
		width: 50%;
		padding-left: 10px;
		margin-bottom: 10px;
	}
	.productCategoryItem:hover {
		opacity: 1;
	}

	.productCategoryItem .productImg {
		height: 90px;
	}
	.productCategoryItem .productImg a {
		height: 90px;
	}

	.productCategoryItem .productCategory {
		padding-left: 0;
	}

	.productCategoryItem .productCategory a {
		background: url(../img/common/ico_link_s.png) left 8px no-repeat;
		font-size: 1.4rem;
	}
	.productCategoryItem .productCategory a span {
		font-size: 1rem;
	}
}
