{#
* Plugin Name : CustomerRank
*
* Copyright (C) 2015 BraTech Co., Ltd. All Rights Reserved.
* http://www.bratech.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
#}

<!--★会員価格★-->
{% if MemberPrice %}
    {% if MemberPrice.stock_find %}
        {% if is_granted('ROLE_USER') %}
            <td>
                <p>会員価格</p>
                {% if MemberPrice.member_price_Min == MemberPrice.member_price_Max %}
                    <span class="price01">
                        {{ MemberPrice.member_price_Min|price }}
                    </span>
                {% else %}
                    <span class="price01">
                        {{ MemberPrice.member_price_Min|price }} ～ {{ MemberPrice.member_price_Max|price }}
                    </span>
                {% endif %}
            </td>
        {% endif %}
    {% else %}
        <td>
            <p>会員価格</p>
            <span class="price01">
                ASK
            </span>
        </td>
    {% endif %}
{% endif %}