<div id="guideSide">
	<div class="guidesSideBox">
		<p class="guideSideTit">注文について</p>
		<ul class="guideSideList">
			<li><a href="#anchor01" class="scroll">既に会員登録されている方</a></li>
			<li><a href="#anchor02" class="scroll">初めてご利用される方</a></li>
		</ul>
	</div>
	<div class="guidesSideBox">
		<p class="guideSideTit">お届けについて</p>
		<ul class="guideSideList">
			<li><a href="#anchor03" class="scroll">お届け日数</a></li>
			<li><a href="#anchor04" class="scroll">お届け日の指定について</a></li>
			<li><a href="#anchor05" class="scroll">配送料金について</a></li>
			<li><a href="#anchor06" class="scroll">配送先を複数指定</a></li>
		</ul>
	</div>
	<div class="guidesSideBox">
		<p class="guideSideTit">お支払いについて</p>
		<ul class="guideSideList">
			<li><a href="#anchor07" class="scroll">お支払い方法について</a></li>
			<li><a href="#anchor08" class="scroll">ご請求締切日について</a></li>
			<li><a href="#anchor09" class="scroll">ご請求書について</a></li>
			<li><a href="#anchor10" class="scroll">お支払い方法の変更について</a></li>
		</ul>
	</div>
	<div class="guidesSideBox">
		<p class="guideSideTit">返品・交換について</p>
		<ul class="guideSideList">
			<li><a href="#anchor11" class="scroll">お客様のご都合による<br class="visiblePC">返品の場合</a></li>
			<li><a href="#anchor12" class="scroll">返品のお申込方法</a></li>
		</ul>
	</div>
</div>
