{#
* Plugin Name : CustomerRank
*
* Copyright (C) 2015 BraTech Co., Ltd. All Rights Reserved.
* http://www.bratech.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
#}

{% if checkedItem is defined %}
    {% set key = checkedItem.id %}
{% endif %}
{% if RecommendProduct is defined %}
    {% set key = RecommendProduct.Product.id %}
{% endif %}
{% if Item is defined %}
    {% set key = Item.id %}
{% endif %}
{% if arrMemberPrice[key] is not null %}
    {#<td style="margin-top: 10px; color: #525263;">{{ member_title }}会員価格：</td>#}
    {% if arrMemberPrice[key].member_price_incMin == arrMemberPrice[key].member_price_incMax %}
        <td><span class="price01">
            {{ arrMemberPrice[key].member_price_incMin|price }}
            </span>
            <span class="txt">（税抜き）</span>
        </td>
    {% else %}
        <td><span class="price01">
            {{ arrMemberPrice[key].member_price_incMin|price }} ～ {{ arrMemberPrice[key].member_price_incMax|price }}
            </span>
            <span class="txt">（税抜き）</span>
        </td>
    {% endif %}
{% endif %}