<div class="pagePick visibleTS">
	<p class="pickTit">今週のピックアップ</p>
	<div class="pageScroll">
		<p class="pickTxt">
			<span class="txt"><a href="#">パーティション</a></span>
			<span class="txt"><a href="#">コピー用紙定期配送</a></span>
			<span class="txt"><a href="#">コーヒー</a></span>
			<span class="txt"><a href="#">かわいい文房具</a></span>
			<span class="txt"><a href="#">塗装用品</a></span>
			<span class="txt"><a href="#">はんこ作成</a></span>
			<span class="txt"><a href="#">Web広告1万円</a></span>
			<span class="txt"><a href="#">ハロウィン</a></span>
			<span class="txt"><a href="#">トップ100へ</a></span>
		</p>
	</div>
</div>