{% block javascript %}
    <script type="text/javascript">
        $(function(){
            $('.topSale').bxSlider({
                mode: 'horizontal',
                speed: 2000,
                pause: 5000,
                auto:true,
                controls:true,
                pager:false
            });
        });
    </script>
{% endblock %}

{% block main %}
<div class="topSaleSlider">
    <ul class="topSale">
        <li><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/top_slider01_c_pc.jpg" alt=""></li>
        <li><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/top_slider01_c_pc.jpg" alt=""></li>
        <li><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/top_slider01_c_pc.jpg" alt=""></li>
    </ul>
</div>
{% endblock %}